{% extends "base.html" %}
{% block title %}{{blog.name}}{% endblock %}
{% block content %}
<div class="jumbotron">
      <div class="container">
	    <a href="{{blog.url}}"><h1>{{blog.name}}</h1></a>
        <h2>{{blog.desc}}</h2>
            <li><b>Author:</b> &mdash; {{blog.author}}</li>
            <li><b>Post lenghts:</b> &mdash; {{blog.time}} minutes.</li>
            <li><b>Time between posts:</b> &mdash; {{blog.regularity}} days.</li>
            <li><b>Topics:</b> &mdash; {% for idx, i in enumerate(blog.topics) %} <span class="label label-{{ random_color(idx) }}">{{ i }}</span>{% endfor %}</li>
		</div></div>
		<br>
    <div class="container"><div class="row">
		<h2>Some random blogs</h2>
		<table class="table table-striped">
			<tbody>
                {% for i in blogs %}
				<tr><td class="col-md-11"><b>{{i.name}}</b> &mdash; {{i.desc}}</td><td><a href="/blog/{{i._id}}"><button  type="submit" class="btn btn-info btn-xs">Read More</button></a></td></tr>
                {% endfor %}
			</tbody>
  		</table>
        </div></div>
{% endblock %}