<html>
    <head>
        <body>
	 <form method="get" action="/api/read">
	     <label for="url">Topics (comma seperated):</label>
                 <input type="text" name="topics"/><br />
	     <label for="url">Length (in minutes):</label>
	         <input type="number" name="time"/><br />
             <label for="url">How often do you post (in days)</label>
	         <input type="number" name="regularity"/><br />
             <input type="submit" />
         </form>
	 </body>
    </head>
</html>
